.station-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 25, 32, 0.504);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 800px;
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

.add-new-button {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
}
.add-new-button:hover {
  background-color: #00438b;
  transition: ease-in-out 0.1s;
}
.station-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(3, 1fr)); */
  gap: 50px;
}
.ws-logo {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  border-radius: 20px;
}
.station-name-input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.station-name {
  color: #f2f0f0ec;
  font-size: 30px;
  text-align: center;
  cursor: default;
}

.station-box input {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 5px;
}
.ws-logo:hover {
  transform: scale(0.98);
  transition: ease-in-out 0.1s;
  opacity: 0.8;
}

.station-box {
  position: relative;
}

.delete-icon {
  position: relative;
  bottom: 250px;
  cursor: pointer;
  font-size: 18px;
  color: #ff0000;
}
.delete-icon:hover {
  transform: scale(1.8);
}
.popup-msg-labs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 0 auto;
  z-index: 100;
}
.popup-msg-labs:hover {
  background-color: #00438b;
  transition: ease-in-out 0.1s;
}
