 .task-page {
    background-color: rgba(20, 25, 32, 0.504);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 40px;
    border-radius: 20px;
  }
  
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  
  .create-task-btn {               
    background-color: var(--button-blue);
    color: #fff;
    cursor: cell !important;
  }

  
  .create-task-btn:hover {
    background-color: #2980b9;
  }
/*   .ReactModal__Overlay--after-open{
    background-color: rgba(28, 28, 28, 0) !important;
    opacity: 0.80;
  } */
  .ReactModal__Overlay{
    background-color: rgba(28, 28, 28, 0) !important;
    opacity: 0.99;
   
  }
  .ReactModal__Content--after-open{
    background-color: rgb(3, 44, 55) !important;
    opacity: 0.99;
    height: 600px !important;
    
    transition: 400ms ease-in-out;
  }
  .modal{
    transition: 600ms ease-in-out;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow for a nice effect */
  }
  .modal label {
    display: block;
    margin-bottom: 20px;
    color: var(--secondary-text);
    font-size: 18px;
  }
  
  .modal textarea,
  .modal input,
  .modal select {
    resize: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .cancel-btn,
  .create-task-btn {
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .cancel-btn {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .cancel-btn:hover {
    background-color: #c0392b;
  }
  
  .filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  .filter-section label {
    font-size: 20px; 
    color: var(--secondary-text)
  }
  .filter-selection{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  .filter-section select {
    background-color: rgb(204, 229, 242);
    margin-top: 10px;
    padding: 14px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  .option-open{
    background-color: var(--button-blue);
    border-radius:50px ;
  }
  .option-progress{
    background-color: #f39c12;
    border-radius:50px ;
  }
  .option-done{
    background-color: #2ecc71;
    border-radius:50px ;
  }
  .tasks-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
    margin-top: 20px;
  }
  .task-item-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .task-item-header p{
    font-size: 20px;
    text-shadow: 8px 2px 5px rgba(141, 141, 141, 0.4);
    color: #2c3e50;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .task-item-header .status{
    font-weight: bold;
    padding: 8px;
    border-radius: 50px;
  }
  .task-item {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
  }
  
  .task-item:hover {
    transform: scale(1.01);
  }
  .task-item-content{
    margin-left: 30px;
    margin-right: 30px;
  }
  .task-details {
   margin-bottom: 15px;
  }
 
  .task-details h3 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #2c3e50;
  }
  
  .task-details p {
    color: #424545;
    margin-bottom: 30px;
  }
  
  .task-details .status {
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .status.open {
    background-color:var(--button-blue);
    color: #fff;
  }
  
  .status.in-progress {
    background-color: #f39c12;
    color: #fff;
  }
  
  .status.done {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .task-details .task-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-actions button {
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .task-actions button.delete-btn {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .task-actions button.edit-btn {
    background-color: #3498db;
    color: #fff;
  }
  
  .task-actions button.delete-btn:hover {
    background-color: #c0392b;
  }
  
  .task-actions button.edit-btn:hover {
    background-color: #2980b9;
  }
  