.search-container {
    display: flex;
    align-items: center;
    transition: all 0.7s ease-in-out;
  }
  
  .search-icon {
    cursor: pointer;
    color: white;
    width: '80px';
    height: '80px';
  }
  
  .search-bar {
    width:0px;
    overflow: hidden;
    display: none;
    transition: width 0.7s ease-in-out;
  }
  
  .expanded {
    width: 200px; /* You can adjust the width as needed */
    display: inline-flex;
  }
  